body {
    background-color: #cfd8dc
}

i {
    color: white;
	top: 0;
	right: 0;
	margin-right: 20px;
    position: absolute;
    z-index: 500;
}

img {
    opacity: .6;
    height: 100%;
}

audio {
    display: none;
}

.title {
    font-weight: 100;
}

li {
    height: 600px;
}

li:nth-child(1) {
    h3 {
        margin-top: -80px;
    }
}

li:nth-child(2) {
    h3 {
        margin-top: 350px;
    }
}

li:nth-child(3) {
    h3 {
        margin-top: 350px;
    }
}

li:nth-child(4) {
    h3 {
        margin-top: 350px;
    }
}

li:nth-child(5) {
    h3 {
        margin-top: 350px;
    }
}

li:nth-child(6) {
    h3 {
        margin-top: -60px;
    }
    h5 {
        margin-top: 350px;
    }
}

h3 {
    font-size: 4vw;
    color: #fafafa;
    font-weight: 400;
    font-family: helvetica;
}

.slides,
.slider,
img {
    border-radius: 2em;
}

@media screen and (max-width: 480px) {
	i {
    display: none;
}
.title {
    display: none;
    }
    h3 {
        font-size: 8vw;
        color: #fafafa;
        font-weight: 400;
        font-family: helvetica;
    }
    li {
        width: 80vw;
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    li:nth-child(5) {
        width: 400px;
        img {
            max-width: 100%;
        }
    }
}